.skillIcon1 img {
  animation: float 4s infinite;
}
.skillIcon2 img {
  animation-delay: 0.3s;
  animation: float 4s infinite;
}
.skillIcon3 img {
  animation-delay: 4s;
  animation: float 4s infinite;
}
.skillIcon4 img {
  animation-delay: 8s;
  animation: float 4s infinite;
}
.skillIcon5 img {
  animation-delay: 8s;
  animation: float 4s infinite;
}
.skillIcon6 img {
  animation-delay: 10s;
  animation: float 4s infinite;
}
.skillIcon7 img {
  animation-delay: 12s;
  animation: float 4s infinite;
}
.skillIcon8 img {
  animation-delay: 14s;
  animation: float 4s infinite;
}
.skillIcon9 img {
  animation-delay: 16s;
  animation: float 4s infinite;
}
.skillIcon10 img {
  animation-delay: 18s;
  animation: float 4s infinite;
}
.skillIcon11 img {
  animation-delay: 20s;
  animation: float 4s infinite;
}
@keyframes float {
  0% {
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
  }
}

.neonText:hover {
  cursor: pointer;
  color: red;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}

@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
.neonText {
  font-family: Rampart One;
}
