.skillIcon1 {
  animation: float 7s infinite;
}
.skillIcon2 {
  animation-delay: 20s;
  animation: float 7s infinite;
}
.skillIcon3 {
  animation-delay: 4s;
  animation: float 7s infinite;
}
.skillIcon4 {
  animation-delay: 8s;
  animation: float 7s infinite;
}
.skillIcon5 {
  animation-delay: 8s;
  animation: float 7s infinite;
}
.skillIcon6 {
  animation-delay: 10s;
  animation: float 7s infinite;
}
.skillIcon7 {
  animation-delay: 12s;
  animation: float 7s infinite;
}
.skillIcon8 {
  animation-delay: 14s;
  animation: float 7s infinite;
}
.skillIcon9 {
  animation-delay: 16s;
  animation: float 7s infinite;
}
.skillIcon10 {
  animation-delay: 18s;
  animation: float 7s infinite;
}
.skillIcon11 {
  animation-delay: 20s;
  animation: float 7s infinite;
}
@keyframes float {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: -20px;
    left: 40px;
  }
  100% {
    top: 0px;
    left: 0px;
    /* transform: translate3d(4px, 3px, 5px); */
  }
}

.skillIcon1:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon2:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon3:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon4:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon5:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon6:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon7:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon8:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon9:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon10:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
.skillIcon11:hover {
  transition: 1s;
  animation: view 1s;
  width: 100px;
  height: 100px;
}
@keyframes view {
  0% {
  }

  100% {
    transform: rotateZ(360deg);
  }
}
